.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 800px;
}

.row {
  width: 100%;
}
